
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../resources/css/main.css">
</head>
<head>
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    *{
        border: 1px black solid;
    }
</style>   

 <body>   

    <div class="carousel-inner col-9 mt-4 container" id="friendrecommand">
        <div class="carousel-item active">
            <div class="d-flex justify-content-around">
                <span>
                    <img alt="사진" src="#" width="100px">
                    <p>이름</p>
                </span>
                <span>
                    <img alt="사진" src="#" width="100px">
                    <p>이름</p>
                </span>
                <span>
                    <img alt="사진" src="#" width="100px">
                    <p>이름</p>
                </span>
                <span>
                    <img alt="사진" src="#" width="100px">
                    <p>이름</p>
                </span>
             </div>
       </div>
       
       <div class="carousel-item">
           <div class="d-flex justify-content-around">
              <span>5</span>
             <span>6</span>
             <span>7</span>
             <span>8</span>
            </div>
       </div>
       
       <div class="carousel-item">
           <div class="d-flex justify-content-around">
               <span>9</span>
             <span>10</span>
             <span>11</span>
             <span>12</span>
         </div>
       </div>
    </div>




</body>
</html>