
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<head>
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>
<style>
    *{
        border: 1px black solid;
    }
</style>
    signupsecond


    <%@ page language="java" contentType="text/html; charset=UTF-8"%>
    <button class="btn btn-secondary" onclick="fn_signupzero()" data-toggle="modal" data-target="#signup" >회원가입</button>
<div class="modal" id="signup">
    <div class="modal-dialog  modal-dialog-centered  modal-xl modal-dialog-scrollable">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="modalLoginTitle">회원가입</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" id="modalbody">
            <div id="largemodalRoot" class= "p-0 d-flex justify-content-center align-content-center flex-column"style="min-height: 300px">

                
            
                <div class="d-flex justify-content-center flex-column align-items-center" id="loginContainer">
                    <div class="m-2 d-flex flex-column justify-content-center align-items-center p-3 col-8 border">
                        <p class="col-10 text-left small">계정 정보 입력</p>
                            <div class="col-10 text-center">
                                
                                    <p class="mb-0 mt-3 small col-6 text-center">아이디</p>
                                     <input type="text" class="mb-2 mt-0  col-7" id="userId" onkeyup="fn_idCheck" onblur="fn_id_normaliztion" placeholder="아이디" required>
                                
                                
                                <br>
                                <span id="checkSign" class="m-2 h-fitcontent" ></span>
                            </div>
                            <div class="col-10 text-center">
                                <p class="mb-0 mt-3 small col-6 text-center">비밀번호</p>
                                <input type="password" class="mb-2 mt-0 col-7" id="userPassword" placeholder="비밀번호" onblur="fn_pw_normaliztion" required>
                                <br>
                                <p class="mb-0 mt-3 pl-1 small col-7 text-center">비밀번호 체크</p>
                                <input type="password" class="mb-2 mt-0 col-7" id="userPasswordCheck" onkeyup="fn_pwCheck" placeholder="비밀번호 확인" required>
                                <br>
                                <span id="passwordSign" class="m-2 h-fitcontent" ></span>
                            </div>
                    </div>
            
                    <div class="m-2 d-flex flex-column justify-content-center align-items-center p-3 col-8 border">
                        <p class="col-10 text-left small">개인 정보 입력</p>
            
                        <div class="col-10 text-center">
                            
                                <p class="mb-0 mt-3 pl-0 small col-6 text-center">이름</p>
                                <input type="text" class="mb-2 mt-0 col-7" id="userName" placeholder="이름" required>
                                <br>
                                
                                <p class="mb-0 mt-3 pl-0 small col-6 text-center">생년월일</p>
                                <input type="date" class="mb-2 mt-0 col-7" id="userBirth" placeholder="생년월일 입력" required>
                                <br>
                                
                                <p class="mb-0 mt-3 pl-0 small col-6 text-center">이메일</p>
                                <input type="email" class="mb-2 mt-0 col-7" id="userEmail" onkeyup="fn_emailCheck" placeholder="이메일 확인">
                                <br>
                                <span id="emailSign" class="m-2 h-fitcontent"></span>
                                <br>
                                
                                <p class="mb-0 mt-3 pl-0 small col-6 text-center">주소</p>
                                <div>
                                    <input type="email" class="mb-2 mt-1 ml -0 col-4" id="userAddrZip" placeholder="우편번호">
                                    <input type="button" value="주소 찾기" class="mb-2 mt-1 col-3 eumbtn">
                                    <br>
                                    <input type="email" class="mb-2 mt-0 col-7" id="userAddrBasic"  placeholder="상세 주소">
                                    <br>
                                    <input type="email" class="mb-2 mt-0 col-7" id="userAddrDetail"  placeholder="우편번호">
                                    <br>
                                </div>
            
                                <p class="mb-0 mt-3 pl-0 small col-6 text-center">성별</p>
                                <div>
                                    <span class="m-4 pl-4 pr-4">
                                        <label>
                                            <input type="radio" name="userGender">여성
                                        </label>
                                    </span>
                                    <span class="m-4 pl-4 pr-4">
                                        <label>
                                            <input type="radio" name="userGender">남성
                                        </label>
                                    </span>
                                </div>  
                        </div>
                    </div>
            
                    <div class="d-flex justify-content-center col-8 pr-4 pl-4">
                        <input type="button" value="이전으로" class="col-3 m-2 mr-4" onclick="signupzero()" >
                        <input type="button" value="다음으로" class="col-3 m-2 ml-4" onclick="signupsecond()">
                    </div>
            
                    
                </div>


            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="$('#modalbody').animate({scrollTop:},150)">top</button>
        </div>
  
      </div>
</div>


</body>
</html>


