@charset "UTF-8";

/*section css*/
#root{
    /* border:1px red solid; */
    /* min-height:500px; */
    font-family:'Noto Sans KR';
}


/*friend.jsp*/
.searchBtn{
    padding: .375rem 2rem;
    background-color: rgb(0, 128, 192);
    border:rgb(0, 128, 192);
}
#searchFriDetail{
    /* margin-left:10%; */
    cursor: pointer;
}
.fribtn{
    /* border:black solid 1px; */
    font-size: smaller;
    font-weight: bolder;
    margin-top:15px;
    cursor: pointer;
}
.fribtn>span{
    border:rgb(165, 205, 230) solid 2px;
    padding:5px 10px 5px 10px;
    border-radius: 10%;
}
.friUser>button{
	height:180px;
}
.frismImg{
    object-fit: cover;
    height:170px;
    width:140px;
}
.choCon{
    background-color: rgb(165, 205, 230);
}
.userModalImg{
	object-fit: cover;
    height:300px;
    width:200px;
}
.friUser>button{
	border:rgb(165, 205, 230) 1px solid;
}
.friUser>button span{
	color:rgb(47, 126, 175);
}
.modal-body small span{
	color:rgb(47, 126, 175);
}


/*profile.jsp*/
#profileInfo>img{
    /* max-width: 100%; */
    object-fit: cover;
    width:250px;
    height:250px;
    border-radius: 100%;
}
#infoList>table td{
    padding:0;
}
.space{
    border-bottom: 30px solid #fff;
}
#profileBtn>button{
    align-items: center;
}
.colend{
    text-align: end;
}
.colcenter{
	text-align: center;
}
#feedContainer>.box{
    width:300px;
    height:300px;
    cursor:pointer;
}
#profileFeed img{
    object-fit: cover;
    width:290px;
    height:290px;
}


/* writeFeedModal */
#feedPhotos img{
	width: 140px;
	height: 140px;
	object-fit: cover;
}
.disableBtn{
	border : 2px solid;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}
.pointer{
	cursor:pointer;
}
.input-file-button{ padding: 34px 37px; background-color: white; border-radius: 10px; color: lightgray; cursor: pointer; border : 2px dashed lightgray; };




/*feedDetailModal*/
.feedImg{
     /* width:550px;
    height:550px;*/
    min-width:70%;
    max-width: 100%;
	height: 100%;
	min-height:70%;
	display: block;
    object-fit: cover;
    /* object-position: 50% 50%; */
}
.feedImg2{
	min-width:70%;
    max-width: 100%;
	height: 100%;
	min-height:70%;
	display: block;
    object-fit: cover;
}
#feedCC{
    overflow:auto; 
    height:550px;
}
#feedBtn i{
    font-size:25px;
}
#feedCommentShow{
    font-size: 14px;
}
.commImg{
    width:50px;
    height:50px;
    border-radius: 100%;
    object-fit: cover;
}
.writeBtn{
	background-color: #2AC1BC;
    color:white;
    width:60px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}
.likeLink:hover{
	text-decoration:underline;
}
.carouselImgDiv{
	width: 550px;
  	height: 550px;
  	overflow: hidden;
}




/*myPage.jsp*/
.mpBox{
    border:rgb(158, 201, 226) 1px dotted;
    border-radius: 10px;
}
.mpBox:hover{
    background-color: rgba(223, 238, 245, 0.829);
    cursor:pointer;
}
.iSize{
    font-size: 80px;
    color:#0c9793;
}




/*infoModal.jsp*/
.bgColor{
    background-color: rgb(223, 241, 248);
}
.nav-item>a{
    color:gray;
}
.fakeborder{
    border-top: 15px rgb(223, 241, 248) solid;
    border-bottom: 15px rgb(223, 241, 248) solid;
}
.changeBtn{
    background-color: #2AC1BC;
    color:white;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    width:107px;
}
#profilePreview{
	object-fit: cover;
	width:300px;
	height:300px;
}


/*movieModal*/
.vercenter{
	vertical-align:middle;
}
.disabledBtn{
    border : 2px solid #212529;
    color:#212529;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}



/*friendModal*/
.scrollDiv{
	height:500px;
	overflow:auto;
}
.scrollDiv2{
	height:400px;
	overflow:auto;
}
.infobold:hover{
	font-weight:bold;
}




/*qna*/
#qnaCate>a{
    text-decoration: none;
}
.qnaBox{
    height:100px;
    border: #bde7e6 1px solid;
    color:black;
}
.qnaBox:hover{
    background-color: #bde7e6;
}




/*writeQ*/
.btnWidth{
    width:100px;
}




/*qnaView*/
.aboxborder{
    border:1px rgb(211, 211, 211) dotted;
    padding:10px;
}
.marginborder{
    border-top: 25px solid white;
}
.abox{
    background-color: #e2f1f1;
    min-height:100px;
    padding:30px 10% 30px 10%;
}