@charset "UTF-8";

/*section css*/
#root{
    border:1px red solid;
    /* min-height:500px; */
    font-family:'Noto Sans KR';
}


/*friend.jsp*/
#searchFriBtn{
    padding: .375rem 2rem;
    background-color: rgb(165, 205, 230);
    border:rgb(165, 205, 230);
}
#searchFriDetail{
    /* margin-left:10%; */
    cursor: pointer;
}
.fribtn{
    /* border:black solid 1px; */
    font-size: smaller;
    font-weight: bolder;
    margin-top:15px;
    cursor: pointer;
}
.fribtn>span{
    border:rgb(165, 205, 230) solid 2px;
    padding:5px 10px 5px 10px;
    border-radius: 10%;
}
.friUser>button{
	height:180px;
}
.frismImg{
    object-fit: cover;
    height:170px;
    width:140px;
}
.choCon{
    background-color: rgb(165, 205, 230);
}
.userModalImg{
	object-fit: cover;
    height:300px;
    width:200px;
}
.friUser>button{
	border:rgb(165, 205, 230) 1px solid;
}
.friUser>button span{
	color:rgb(47, 126, 175);
}
.modal-body small span{
	color:rgb(47, 126, 175);
}


/*profile.jsp*/
#profileInfo>img{
    /* max-width: 100%; */
    object-fit: cover;
    width:250px;
    height:250px;
    border-radius: 100%;
}
#infoList>table td{
    padding:0;
}
.space{
    border-bottom: 30px solid #fff;
}
#profileBtn>button{
    align-items: center;
}
.colend{
    text-align: end;
}
.colcenter{
	text-align: center;
}
#feedContainer>.box{
    width:300px;
    height:300px;
    cursor:pointer;
}
#profileFeed img{
    object-fit: cover;
    width:290px;
    height:290px;
}


/* writeFeedModal */
#feedPhotos img{
	width: 140px;
	height: 140px;
	object-fit: cover;
}

.disableBtn{
	border : 2px solid;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}


.pointer{
	cursor:pointer;
}


/*feedDetailModal*/
.feedImg{
    /* width:550px;
    height:550px; */
    max-width: 100%;
	height: auto;
	display: block;
    object-fit: cover;
    /* object-position: 50% 50%; */
}
#feedCC{
    overflow:auto; 
    height:550px;
}
#feedBtn i{
    font-size:25px;
}
#feedCommentShow{
    font-size: 14px;
}
.commImg{
    width:50px;
    height:50px;
    border-radius: 100%;
    object-fit: cover;
}
.writeBtn{
	background-color: #2AC1BC;
    color:white;
    width:60px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}
.likeLink:hover{
	text-decoration:underline;
}
.carouselImgDiv{
	width: 550px;
  	height: 550px;
  	overflow: hidden;
}