@charset "UTF-8";
:root
{
	--eumbackground: #70b3d9;
	--eumfontcolorwhite: white;
	--mobile: 575px;
	--pc:576px;
}

#toolbox{
	position: absolute;
	 right:5px;
	  top:50px;
	   background-color: white;
	   min-width:280px;
	    max-width: 2800px;
	     max-height:200px;
	     overflow-y:scroll; 
	     display:none;
}
#footerContainer{
	position: fixed;
	background-color:red;
	top:10px;
}

#innerXbox{
	width: 280px;
	background-color: white;
	opacity: 0.8;
}

@media(max-width: 575px){
	/*feedphoto  */
	.feedPhoto{
		width:250px;
		height: 250px
		
	}
	
}	
@media(max-width:690px){
	.feedPhoto{
		width:350px;
		height:350px;
	}
} 
@media(min-width:691px){
	/*feedphoto  */
	.feedPhoto{
		width:500px;
		height: 500px
	}
}


@media(max-width: 575px){
	.footer{
		padding:0px !important;
	}
	#head_menu{
		display:none;
	}
	
	.iconbox{
		display:none;
	}
	.iconboxfooter{
		display:flex;
		justify-content: space-between;
		
	}
	#submenu{
		display:none;
	}
	
	.footerInfo{
		display:none;
	}
	
	.carubtn{
		width:30px !important;
	}
	
	.dockbar{
		position:fixed !important;
		height: fit-content !important;
		z-index: 999;
		
		
	}
	
	
	
	
}
@media(min-width: 576px){
		.hamdown{
		display:none;
		}
		.hamback{
		display:none;
		}
	
	
	#hamburgerbtn{
		display:none;
	}
	
	.iconbox{
		display:block;
	}
	.iconboxfooter{
		display:none !important;
	}
	.footerInfo{
		display:block;
	}
	
	.carubtn{
		width:60px !important;
	
	}
	
	.dockbar{
		position: relative;;
	}
	
	
}
.hamback{
/* 	position: absolute; */
	position: fixed;
	display:none;
	/* width:2000px; */
	height:100%;
	width:100%;
	background-color: gray !important;
	opacity: 0.8;
	z-index: 200;
	right:0px;
	border:none;
}


.hamdown{
	position: absolute; 
	/* position: fixed; */
	display:none;
	right:0px;
	height:99999999999px;
	width:50%;
	background-color: white;
	opacity: 1;
	z-index: 300;
	
}
.hamnav a{
	margin-top: 10px;
}
.hamnav{
	position: fixed;
	top: 80px;
	
}
#submenu{
	position: fixed;
	top:240px
}
.closeham{
	position: fixed;
	right:10px;
}

/*header css*/
#head_menu ul li{
    font-family: 'twayair';
}
/* .navbar-nav>li:hover{
    color:rgb(4, 82, 131);
} */
#head_menu .dropdown-menu{
    border:none;
    background-color: rgb(165, 205, 230);
}


/*section css*/
/* #root{
    border:1px red solid;
    min-height:500px;
} */
body{
    width: 100%;
}
#root{
    border:1px red solid;
    min-height:500px;
    font-family:'Noto Sans KR';
}


/* 폰트-타이틀 */
@font-face {
        font-family: 'twayair';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}