@charset "UTF-8";
:root
{
	--maincolor: #2AC1BC !important;
	--eumfontcolorwhite: white;
	--mobile: 575px;
	--pc:576px;
	
}










#toolbox{
	position: absolute;
	 right:5px;
	  top:55.5px;
	   background-color: white;
	   min-width:300px;
	    max-width: 300px;
	     max-height:200px;
	     overflow-y:scroll; 
	     display:none;
	     color:black
}
#footerContainer{
	position: fixed;
	background-color:white;
	top:55px;
	width: 100%;
	height: 630px;
	z-index: 200;
	display: none;
}

#innerXbox{
	width: 300px;
	background-color: white;
	opacity: 0.8;
	color:black;
}

@media(max-width: 575px){
	/*feedphoto  */
	.feedPhoto{
		width:250px;
		height: 250px
		
	}
	
}	
@media(max-width:850px){
	.feedPhoto{
		width:350px;
		height:350px;
	}
} 
@media(min-width:691px){
	/*feedphoto  */
	.feedPhoto{
		width:500px;
		height: 500px
	}
}


@media(max-width: 850px){
	.footer{
		padding:0px !important;
	}
	#head_menu{
		display:none;
	}
	
	.iconbox{
		display:none;
	}
	.iconboxfooter{
		display:flex;
		justify-content: space-between;
		
	}
	#submenu{
		display:none;
	}
	
	.footerInfo{
		display:none;
	}
	
	.carubtn{
		width:30px !important;
	}
	
	.dockbar{
		position:fixed !important;
		height: fit-content !important;
		z-index: 999;
		
		
	}
	
	#root {
		margin-bottom : 50px;
	}
	
	
}
@media(min-width: 851px){
		#footerContainer{
			display: none !important;
		}
		.hamdown{
		display:none;
		}
		.hamback{
		display:none;
		}
	
	
	#hamburgerbtn{
		display:none;
	}
	
	.iconbox{
		display:block;
	}
	.iconboxfooter{
		display:none !important;
	}
	.footerInfo{
		display:block;
	}
	
	.carubtn{
		width:60px !important;
	
	}
	
	.dockbar{
		position: relative;;
	}
	
	
}
.hamback{
/* 	position: absolute; */
	position: fixed;
	display:none;
	/* width:2000px; */
	height:100%;
	width:100%;
	background-color: gray !important;
	opacity: 0.8;
	z-index: 200;
	right:0px;
	border:none;
}


.hamdown{
	position: absolute; 
	/* position: fixed; */
	display:none;
	right:0px;
	height:99999999999px;
	width:50%;
	background-color: white;
	opacity: 1;
	z-index: 300;
	
}
.hamnav a{
	margin-top: 10px;
}
.hamnav{
	position: fixed;
	top: 80px;
	
}
#submenu{
	position: fixed;
	top:240px
}
.closeham{
	position: fixed;
	right:10px;
}






/* --------- header css -----------*/
#head_menu ul li{
    font-family: 'twayair';
}

/* .navbar-nav>li:hover{
    color:rgb(4, 82, 131);
} */

#head_menu .dropdown-menu{
    border: 1px solid #2AC1BC;
    background-color: white;
}

#head_menu .dropdown-menu .dropdown-item:hover {
	color : black !important;
}

#icon_menu .navbar-nav .nav-item i {
	cursor: pointer;
}

/* 푸터 */
.footer {
	  position: relative;
	  height : 130px;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  background-color: #2AC1BC;
	  color: white;
	  text-align: center;
	  padding : 10px;
	}
	.footer p {
		margin: 1px;
		font-size : 10px;
	}
    .list-inline {
        text-align: center;
    }
    .list-inline-item {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }
    .list-inline-item a {
        text-decoration: none;
        color: white;
        font-family:'twayair';
        font-weight : 500;
        font-size : 20px;
    }
    .footerInfo .copyright {
        text-align: center;
        font-size: 13px;
        color: black;
        margin-bottom: 0;
    }




/* --------- section css -----------*/
/* #root{
    border:1px red solid;
    min-height:500px;
} */
body{
    width: 100%;
}
#root{
    border:1px red solid;
    min-height:500px;
    font-family:'Noto Sans KR';
}





/* --------- 폰트-타이틀 ----------- */
@font-face {
        font-family: 'twayair';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}






/** -----------공통 CSS --------------- **/

/*확인 버튼*/
.checkBtn{
    background-color: #2AC1BC;
    border : 2px solid #2AC1BC;
    color:white;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    width: 80px;
}
/*취소 버튼*/
.cancelBtn{
    border : 2px solid #2AC1BC;
    color:#2AC1BC;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    width: 80px;
}

/*포인트 주는 폰트*/
.pointFont{
    font-family:'twayair';
}
/* 메인 컬러 */
.mainColor{
    color:#2AC1BC;
}
/* 메인 컬러보다 진한 */
.subColor1{
    color:#11504e;
}
/* 메인 컬러보다 연한 */
.subColor2{
    color:#7ee3e0;
}

.whiteText {
	color : white;
}
.blackText {
	color : black;
}
.bgColorMainColor {
	background-color: #2AC1BC;
}
.tway {
	font-family: 'twayair';
}