@charset "UTF-8";



/* footer */ 
#root{
    border:1px red solid;
    min-height:500px;
    font-family:'Noto Sans KR';
}

/* top 버튼 */
a#MOVE_TOP_BTN {
	position: fixed;
	left: 10px;
	bottom: 80px;
	display: none;
	z-index: 999;
}
a#MOVE_TOP_BTN div {
	border-radius : 50%;
	border : 1px solid gray;
	background-color : #70b3d9;
	width : 50px;
	height : 50px;
	text-align : center;
	line-height : 50px;
	color : black;
}

/* food */
/* .features-boxed {
        border: 1px solid 70b3d9;
      }

      .features-boxed p {
        color: #7d8285;
      }

      .features-boxed h3 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: inherit;
      }

      @media (max-width:500px) {
        .features-boxed h2 {
          margin-bottom: 25px;
          padding-top: 25px;
          font-size: 24px;
        }
      }

      .features-boxed .intro {
        font-size: 16px;
        max-width: 500px;
        margin: 0 auto;
      }

      .features-boxed .intro p {
        margin-bottom: 0;
      }

      .features-boxed .features {
        padding: 50px 0;
      }

      .features-boxed .item {
        text-align: center;
      }

      .features-boxed .item .box {
        text-align: center;
        padding: 20px;
        background-color: #fff;
        margin-bottom: 30px;
      }

      .features-boxed .item .info .title {
        font-size: 25px;
        margin-bottom: 8px;
        margin-top: 0;
        color: black;
      }

      .features-boxed .item .info .search_point {
        font-size: 25px;
        margin-bottom: 8px;
        margin-top: 0;
        color: 70b3d9;
      }

      .thumb-size {
        width: 50px;
        height: 50px; 
      }
      
      .modal-body .thumb-size {
        float: left;
      }

      .modal-info {
        padding: 10 10 10 10;
      }
      
     .search-container{
        margin: 30px;
      }
      .search-container input[type="search"]{
        height: 40px;
      }
      .search-container button{
        height: 40px;
        width: 60px;
      }

 */

	
/* foodReview */
	
